<!DOCTYPE html>
<html>

<head>
    <title>Current debating</title>
    <style>
        iframe {
            width: 100%;
            height: 1000px;
            /* You can change this to fit your needs */
            border: none;
        }
    </style>
</head>

<body>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io(); // Automatically tries to connect to the server

        socket.on('message', function (data) {
            if (data.data === 'reload') {
                window.location.reload();
            }
        });
    </script>
    <h2>View Google Doc</h2>
    <!-- remenber to replace this link with the actual google doc link is being used -->
    <iframe src="https://docs.google.com/document/d/1r_HwEBpz2Va4d-gUn6H-UMZ-d3GcWvk5tM77pmm1CKk/preview"></iframe>
</body>

</html>