<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Viewer</title>
    <style>
        .document-container {
            border: 1px solid black; /* Black border */
            background-color: lightgrey; /* Light grey background */
            padding: 20px; /* Some padding inside the div */
            margin: 20px auto; /* Center the div with automatic margin */
            width: 80%;
            word-wrap: break-word; /* Ensure text breaks to prevent overflow */
        }
        .underline {text-decoration: underline;}
    </style>
</head>
<body>
    <button onclick="handleButtonClick()">Download</button>
    <script>function handleButtonClick() {
        var pathname = window.location.pathname; // Gets the path
        var segments = pathname.split('/'); // Splits the path by '/'
        var lastSegment = segments.pop() || segments.pop();
        window.location.href = '/download/senior/'+lastSegment;
    }</script>

    <form id="uploadForm" action="/chair_upload_senior" method="post" enctype=multipart/form-data>
        <input id="file-upload" type=file name=file>
        <input type=submit value="Upload and display">
    </form>
    <script>
        const fileInput = document.getElementById('file-upload');
        const uploadForm = document.getElementById('uploadForm');
        uploadForm.addEventListener('submit', function (event) {
            if (!fileInput.files.length) { // Check if a file is selected
              event.preventDefault(); // Prevent form submission
              alert("choose a file")
            }
        });
    </script>

    <button onclick="publishCurrentDocument()">publish</button>
    <script>
        function publishCurrentDocument() {
        var pathname = window.location.pathname; // Gets the path
        var segments = pathname.split('/'); // Splits the path by '/'
        var lastSegment = segments.pop() || segments.pop();
        window.location.href = '/publish/senior/'+lastSegment;
        }
    </script>

    <div class="document-container">
        {{ html_content|safe }} <!-- Safely render the prettified HTML content -->
    </div>
</body>
</html>
